boto3==1.7.58
botocore==1.10.58
click==6.7
docutils==0.14
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.14.5
pandas==0.23.3
pynamodb==3.3.0
python-dateutil==2.7.3
python-dotenv==0.8.2
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
Werkzeug==0.14.1
xlrd==1.1.0
