<!doctype html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-p8bH4RlA/kdF4wbAoep+/6VeOQI2IAWa9zLjTIQbQLv2FuCjX/W/FkdYdeKISDvK" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Freight - {% block title %}{% endblock %}</title>
  </head>
  <body id="body-main">
    {% include 'navbar.html' %}
    {% block body %}{% endblock %}
  </body>
</html>
